<template>
	<div class="todoApp">
    <div container-fluid>
        <div class="jumbotron">
            <div class="panel">
            <input type="text" v-model="newTask" v-on:keyup.enter="addTodo" placeholder="Enter your todos here" class="form-group"/>
            <input type="button" class="btn-success" @click="addTodo" value="Add"/>
            <input type="button" class="btn-danger" @click="clearTodos" value="Clear"/>
            </div>

            <ul class="list">
                <li v-for="todo in todos" v-bind:class="{done:todo.checked}">
                    <input type="checkbox" class="checkbox" v-model="todo.checked">
                    <label for="checkbox">{{todo.text}}</label>
                    <input type="button" class="btn-warning" v-on:click="deleteTodo(todo)" value="Delete"/>
                </li>
            </ul>

        </div>
		</div>
	</div>
</template>

<script>
	export default {
        name: 'todoApp',
        data() {
            return {
                newTask: '',
                todos: []
            }
        },
        components: {
           
        },
        methods: {
            addTodo: function(){
                var todo = this.newTask.trim();

                if (todo){
                    this.todos.push({
                        text:todo,
                        checked:false
                    });
                    this.newTask = "";
                }
                
            },
              deleteTodo: function(todo){
                var index = this.todos.indexOf(todo);
                this.todos.splice(index ,1);
              },

              clearTodos: function(){
                this.todos = [];
              },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.list li{
  display:block;
  border-bottom: 2px solid #ECEEEF;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-between;
}



@media screen and (max-width: 950px){
  .list li {
    margin: 0;
    padding: 0;

  }
}
.list label {
  padding-right: 2px;
  padding-left: 2px;
  display:inline-block;
  font-size: 16px;
  color: black;
}

input[type="button"]{
  border: none;
  border-radius: 5px;
  margin: 10px; 
}

.list li.done label {
  color: #d9d9d9;
  text-decoration: line-through;
}
</style>
