<template>
  <div id="app">
    <h3>Running on a busy schedule?</h3>
    <h6>Archive your todos</h6>

    <h1>Todo App</h1>
    <router-view></router-view>
    
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

h1 {
  color: red;
  text-align: center;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
</style>
